USE [AIRCORE_DIPLOM_01]
GO
/****** Object:  Table [dbo].[AdditionalServices]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalServices](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[ServicePrice] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aircrafts]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aircrafts](
	[AircraftId] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[BusinessClassSeats] [int] NOT NULL,
	[ComfortClassSeats] [int] NOT NULL,
	[EconomyClassSeats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AircraftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[AirportId] [int] IDENTITY(1,1) NOT NULL,
	[AirportCode] [nvarchar](10) NOT NULL,
	[AirportName] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AirportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaggageReceipts]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaggageReceipts](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[BaggageCount] [int] NOT NULL,
	[TotalWeight] [decimal](10, 2) NOT NULL,
	[Details] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FlightId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[IsOperatorBooking] [bit] NOT NULL,
	[OperatorId] [int] NULL,
	[Comments] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingServices]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[BookingServiceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flights]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flights](
	[FlightId] [int] IDENTITY(1,1) NOT NULL,
	[FlightNumber] [nvarchar](20) NOT NULL,
	[DepartureAirportId] [int] NOT NULL,
	[ArrivalAirportId] [int] NOT NULL,
	[DepartureTime] [datetime] NOT NULL,
	[ArrivalTime] [datetime] NOT NULL,
	[AircraftId] [int] NOT NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FlightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightSeats]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightSeats](
	[FlightSeatId] [int] IDENTITY(1,1) NOT NULL,
	[FlightId] [int] NOT NULL,
	[SeatId] [int] NOT NULL,
	[BookingId] [int] NULL,
	[IsOccupied] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FlightSeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[InsuranceId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[InsuranceType] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Details] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InsuranceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[OperatorId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[PassengerId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PassportNumber] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PassengerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[SeatId] [int] IDENTITY(1,1) NOT NULL,
	[AircraftId] [int] NOT NULL,
	[SeatNumber] [nvarchar](10) NOT NULL,
	[ClassId] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceClasses]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceClasses](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[PriceMultiplier] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.07.2025 12:54:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdditionalServices] ON 

INSERT [dbo].[AdditionalServices] ([ServiceId], [ServiceName], [ServicePrice], [Description]) VALUES (1, N'Багаж', CAST(2500.00 AS Decimal(10, 2)), N'Регистрируемый багаж до 20 кг')
INSERT [dbo].[AdditionalServices] ([ServiceId], [ServiceName], [ServicePrice], [Description]) VALUES (2, N'Доп. багаж', CAST(4000.00 AS Decimal(10, 2)), N'Регистрируемый багаж до 30 кг')
INSERT [dbo].[AdditionalServices] ([ServiceId], [ServiceName], [ServicePrice], [Description]) VALUES (3, N'Животное в салоне', CAST(6000.00 AS Decimal(10, 2)), N'Маленькое животное в салоне')
SET IDENTITY_INSERT [dbo].[AdditionalServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Aircrafts] ON 

INSERT [dbo].[Aircrafts] ([AircraftId], [Model], [TotalSeats], [BusinessClassSeats], [ComfortClassSeats], [EconomyClassSeats]) VALUES (1, N'Boeing 737-800', 189, 12, 36, 141)
INSERT [dbo].[Aircrafts] ([AircraftId], [Model], [TotalSeats], [BusinessClassSeats], [ComfortClassSeats], [EconomyClassSeats]) VALUES (2, N'Airbus A320', 180, 12, 30, 138)
INSERT [dbo].[Aircrafts] ([AircraftId], [Model], [TotalSeats], [BusinessClassSeats], [ComfortClassSeats], [EconomyClassSeats]) VALUES (3, N'Boeing 777-300ER', 402, 30, 60, 312)
SET IDENTITY_INSERT [dbo].[Aircrafts] OFF
GO
SET IDENTITY_INSERT [dbo].[Airports] ON 

INSERT [dbo].[Airports] ([AirportId], [AirportCode], [AirportName], [City], [Country]) VALUES (1, N'SVO', N'Шереметьево', N'Москва', N'Россия')
INSERT [dbo].[Airports] ([AirportId], [AirportCode], [AirportName], [City], [Country]) VALUES (2, N'DME', N'Домодедово', N'Москва', N'Россия')
INSERT [dbo].[Airports] ([AirportId], [AirportCode], [AirportName], [City], [Country]) VALUES (3, N'LED', N'Пулково', N'Санкт-Петербург', N'Россия')
SET IDENTITY_INSERT [dbo].[Airports] OFF
GO
SET IDENTITY_INSERT [dbo].[BaggageReceipts] ON 

INSERT [dbo].[BaggageReceipts] ([ReceiptId], [BookingId], [BaggageCount], [TotalWeight], [Details]) VALUES (1, 1, 2, CAST(30.00 AS Decimal(10, 2)), N'Багаж для Дарина Ильина')
INSERT [dbo].[BaggageReceipts] ([ReceiptId], [BookingId], [BaggageCount], [TotalWeight], [Details]) VALUES (2, 2, 2, CAST(30.00 AS Decimal(10, 2)), N'Багаж для азалька зайкина')
INSERT [dbo].[BaggageReceipts] ([ReceiptId], [BookingId], [BaggageCount], [TotalWeight], [Details]) VALUES (3, 4, 2, CAST(30.00 AS Decimal(10, 2)), N'Багаж для иванов иван')
SET IDENTITY_INSERT [dbo].[BaggageReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [UserId], [FlightId], [ClassId], [BookingDate], [TotalPrice], [Status], [IsOperatorBooking], [OperatorId], [Comments]) VALUES (1, 1, 1, 1, CAST(N'2025-06-30T18:04:02.647' AS DateTime), CAST(5280.00 AS Decimal(10, 2)), N'Confirmed', 0, NULL, N'')
INSERT [dbo].[Bookings] ([BookingId], [UserId], [FlightId], [ClassId], [BookingDate], [TotalPrice], [Status], [IsOperatorBooking], [OperatorId], [Comments]) VALUES (2, 2, 1, 3, CAST(N'2025-06-30T18:45:28.230' AS DateTime), CAST(35000.00 AS Decimal(10, 2)), N'Confirmed', 0, NULL, NULL)
INSERT [dbo].[Bookings] ([BookingId], [UserId], [FlightId], [ClassId], [BookingDate], [TotalPrice], [Status], [IsOperatorBooking], [OperatorId], [Comments]) VALUES (3, 1, 1, 3, CAST(N'2025-06-30T18:47:43.297' AS DateTime), CAST(12780.00 AS Decimal(10, 2)), N'Cancelled', 1, NULL, N'')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingServices] ON 

INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity]) VALUES (6, 1, 1, 1)
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity]) VALUES (7, 1, 2, 1)
INSERT [dbo].[BookingServices] ([BookingServiceId], [BookingId], [ServiceId], [Quantity]) VALUES (8, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[BookingServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Flights] ON 

INSERT [dbo].[Flights] ([FlightId], [FlightNumber], [DepartureAirportId], [ArrivalAirportId], [DepartureTime], [ArrivalTime], [AircraftId], [BasePrice], [IsActive]) VALUES (1, N'SU 100', 1, 3, CAST(N'2025-10-15T08:00:00.000' AS DateTime), CAST(N'2025-10-15T09:30:00.000' AS DateTime), 1, CAST(5000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Flights] ([FlightId], [FlightNumber], [DepartureAirportId], [ArrivalAirportId], [DepartureTime], [ArrivalTime], [AircraftId], [BasePrice], [IsActive]) VALUES (2, N'SU 101', 3, 1, CAST(N'2025-10-15T11:00:00.000' AS DateTime), CAST(N'2025-10-15T12:30:00.000' AS DateTime), 1, CAST(5000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Flights] ([FlightId], [FlightNumber], [DepartureAirportId], [ArrivalAirportId], [DepartureTime], [ArrivalTime], [AircraftId], [BasePrice], [IsActive]) VALUES (3, N'SU 200', 1, 4, CAST(N'2025-10-15T10:00:00.000' AS DateTime), CAST(N'2025-10-15T13:00:00.000' AS DateTime), 2, CAST(8000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Flights] OFF
GO
SET IDENTITY_INSERT [dbo].[Insurance] ON 

INSERT [dbo].[Insurance] ([InsuranceId], [BookingId], [InsuranceType], [Price], [Details]) VALUES (1, 1, N'Стандартная', CAST(1750.00 AS Decimal(10, 2)), N'Страховка на время полета')
INSERT [dbo].[Insurance] ([InsuranceId], [BookingId], [InsuranceType], [Price], [Details]) VALUES (2, 2, N'Стандартная', CAST(1750.00 AS Decimal(10, 2)), N'Страховка на время полета')
INSERT [dbo].[Insurance] ([InsuranceId], [BookingId], [InsuranceType], [Price], [Details]) VALUES (3, 4, N'Стандартная', CAST(950.00 AS Decimal(10, 2)), N'Страховка на время полета')
SET IDENTITY_INSERT [dbo].[Insurance] OFF
GO
SET IDENTITY_INSERT [dbo].[Operators] ON 

INSERT [dbo].[Operators] ([OperatorId], [Email], [Password], [FirstName], [LastName], [IsActive], [CreatedAt]) VALUES (1, N'123', N'123', N'Admin', N'System', 1, CAST(N'2025-06-30T17:15:39.987' AS DateTime))
SET IDENTITY_INSERT [dbo].[Operators] OFF
GO
SET IDENTITY_INSERT [dbo].[Passengers] ON 

INSERT [dbo].[Passengers] ([PassengerId], [BookingId], [FirstName], [LastName], [PassportNumber], [DateOfBirth]) VALUES (1, 1, N'Дарина', N'Ильина', N'347589472059', CAST(N'2006-09-15' AS Date))
INSERT [dbo].[Passengers] ([PassengerId], [BookingId], [FirstName], [LastName], [PassportNumber], [DateOfBirth]) VALUES (2, 2, N'азалька', N'зайкина', N'75983029', CAST(N'2025-06-30' AS Date))
INSERT [dbo].[Passengers] ([PassengerId], [BookingId], [FirstName], [LastName], [PassportNumber], [DateOfBirth]) VALUES (3, 4, N'иванов', N'иван', N'757347', CAST(N'1991-07-03' AS Date))
SET IDENTITY_INSERT [dbo].[Passengers] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceClasses] ON 

INSERT [dbo].[ServiceClasses] ([ClassId], [ClassName], [PriceMultiplier]) VALUES (1, N'Эконом', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[ServiceClasses] ([ClassId], [ClassName], [PriceMultiplier]) VALUES (2, N'Комфорт', CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[ServiceClasses] ([ClassId], [ClassName], [PriceMultiplier]) VALUES (3, N'Бизнес', CAST(2.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ServiceClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([RoleId], [RoleName]) VALUES (1, N'Customer')
INSERT [dbo].[UserRoles] ([RoleId], [RoleName]) VALUES (2, N'Administrator')
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [FirstName], [LastName], [RoleId], [CreatedAt], [IsActive]) VALUES (1, N'123456', N'123456', N'Дарина', N'Ильина', 1, CAST(N'2025-06-30T18:01:37.373' AS DateTime), 1)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [FirstName], [LastName], [RoleId], [CreatedAt], [IsActive]) VALUES (2, N'z@.com', N'zzzzzz', N'азалька', N'зайка', 1, CAST(N'2025-06-30T18:43:25.123' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Airports__4B6773538C558431]    Script Date: 10.07.2025 12:54:50 ******/
ALTER TABLE [dbo].[Airports] ADD UNIQUE NONCLUSTERED 
(
	[AirportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Operator__A9D10534ED08730C]    Script Date: 10.07.2025 12:54:50 ******/
ALTER TABLE [dbo].[Operators] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053471EFF9F4]    Script Date: 10.07.2025 12:54:50 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Confirmed') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsOperatorBooking]
GO
ALTER TABLE [dbo].[BookingServices] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Flights] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FlightSeats] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[Operators] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Operators] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [RoleId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BaggageReceipts]  WITH CHECK ADD  CONSTRAINT [FK_BaggageReceipts_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BaggageReceipts] CHECK CONSTRAINT [FK_BaggageReceipts_Bookings]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Flights] FOREIGN KEY([FlightId])
REFERENCES [dbo].[Flights] ([FlightId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Flights]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Operators] FOREIGN KEY([OperatorId])
REFERENCES [dbo].[Operators] ([OperatorId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Operators]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_AdditionalServices] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[AdditionalServices] ([ServiceId])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_AdditionalServices]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_BookingServices_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_BookingServices_Bookings]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Aircrafts] FOREIGN KEY([AircraftId])
REFERENCES [dbo].[Aircrafts] ([AircraftId])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Aircrafts]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Airports_Arrival] FOREIGN KEY([ArrivalAirportId])
REFERENCES [dbo].[Airports] ([AirportId])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Airports_Arrival]
GO
ALTER TABLE [dbo].[Flights]  WITH CHECK ADD  CONSTRAINT [FK_Flights_Airports_Departure] FOREIGN KEY([DepartureAirportId])
REFERENCES [dbo].[Airports] ([AirportId])
GO
ALTER TABLE [dbo].[Flights] CHECK CONSTRAINT [FK_Flights_Airports_Departure]
GO
ALTER TABLE [dbo].[FlightSeats]  WITH CHECK ADD  CONSTRAINT [FK_FlightSeats_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[FlightSeats] CHECK CONSTRAINT [FK_FlightSeats_Bookings]
GO
ALTER TABLE [dbo].[FlightSeats]  WITH CHECK ADD  CONSTRAINT [FK_FlightSeats_Flights] FOREIGN KEY([FlightId])
REFERENCES [dbo].[Flights] ([FlightId])
GO
ALTER TABLE [dbo].[FlightSeats] CHECK CONSTRAINT [FK_FlightSeats_Flights]
GO
ALTER TABLE [dbo].[FlightSeats]  WITH CHECK ADD  CONSTRAINT [FK_FlightSeats_Seats] FOREIGN KEY([SeatId])
REFERENCES [dbo].[Seats] ([SeatId])
GO
ALTER TABLE [dbo].[FlightSeats] CHECK CONSTRAINT [FK_FlightSeats_Seats]
GO
ALTER TABLE [dbo].[Insurance]  WITH CHECK ADD  CONSTRAINT [FK_Insurance_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Insurance] CHECK CONSTRAINT [FK_Insurance_Bookings]
GO
ALTER TABLE [dbo].[Passengers]  WITH CHECK ADD  CONSTRAINT [FK_Passengers_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Passengers] CHECK CONSTRAINT [FK_Passengers_Bookings]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Aircrafts] FOREIGN KEY([AircraftId])
REFERENCES [dbo].[Aircrafts] ([AircraftId])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Aircrafts]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserRoles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UserRoles] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserRoles]
GO
